.container {
  display: flex;
  flex-direction: column;
}
.movieItem {
  width: 620px;
  height: auto;
  margin: 0 auto;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(215, 215, 215);

  margin-top: 20px;
}
.name {
  width: 100px;
  text-align: center;
}

.btn {
  width: 72px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
