.container {
  width: 100%;
  height: auto;
  display: flex;
}
.addSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 500px;
  background-color: rgb(215, 215, 215);
  position: relative;
  border-radius: 5px;
  padding-top: 20px;
}
.movieSection {
  width: 60%;
  height: 100%;

  /* background-color: yellow; */
}
.formTitle {
  font-size: 24px;
  margin-bottom: 5px;
}
.select {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.input {
  width: 340px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.input:valid {
  border: 1px solid greenyellow;
}
.input:invalid {
  border: 1px solid red;
  opacity: 0.5;
}
.input2 {
  width: 160px;
  margin-right: 20px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.input2:last-child {
  margin-right: 0;
}

.btn {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
}
.btnSort {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  margin: 0 auto;
}
.smallBtn {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 120px;
  height: 20px;
}

.upload {
  display: flex;
  justify-content: space-between;
}

.uploadBtn {
  width: 100px;
  border-radius: 5px;
  margin-bottom: bottom 0;
}
.movieList {
  width: 600px;
  height: auto;
  margin: 0 auto;
}
.noContent {
  text-align: center;
  font-size: 32px;
  color: grey;
  padding-top: 200px;
}
