* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background: linear-gradient(#e66465, #9198e5); */
}
button {
  display: block;
}
img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}
button {
  border: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
