.container {
  width: 100%;
  background-color: rgb(215, 215, 215);
  margin: 0 auto;
}
.searchForm {
  text-align: center;
}
.btn {
  width: 146px;
  height: 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 10px;
}
.btn:last-child {
  margin-right: 0;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.input {
  width: 300px;
  height: 30px;
  font: 1em sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
}
.movie {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
}
.wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.main {
}
.actors {
  width: 100px;
}
.noContent {
  text-align: center;
  font-size: 32px;
  color: grey;
}
